<p>Add a new client:</p>

<form action="/clients" method="post">

  <label for="clientName">Client Name:</label>
  <input id="clientName" name="clientName" type="text">

  <input id="stylistid" name="stylistid" type="hidden" value="$stylist.getId()">


  <button type="submit" class="btn btn-default">Add Client</button>

</form>
