<h1>Add a stylist</h1>

<p>Add a stylist here:</p>

<form action="/stylists" method="post">
  <label for="type">Stylist Name</label>
  <input id="type" name="type" type="text">
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
